.root, .dialog-pane:header .header-panel {
    -fx-background-color: #3e7c92;
}

.label, .button:default, .text-field, .color-picker .color-picker-label {
    -fx-text-fill: #000000;
}

.button {
    -fx-font-size: 13px;
    -fx-background-color: #b60b0b;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: linear-gradient(#c95050, #940b0b);
}

.button:default {
    -fx-background-color: #0e9601;
}

.button:default:hover {
    -fx-background-color: linear-gradient(#3aac30, #0e9601);
}

.button:default:first {
    -fx-background-color: #3862a5;
}

.button:default:first:hover {
    -fx-background-color: linear-gradient(#3862a5, #0a3985);
}

.text-field, .color-picker .color-picker-label {
    -fx-pref-width: 200px;
}

.dialog-pane:header .header-panel .label {
    -fx-alignment: CENTER;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #c2b439;
}
