.root {
    -fx-background-image: url("backgroundImage.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font: 30 arial;
    -fx-text-fill: #5d99bd;
    -fx-padding: 0 0 30 0;
}

.label_title {
    -fx-font-size: 40;
    -fx-text-fill: #c2b439;
    -fx-padding: 10 0 0 0;
}

.button {
    -fx-font-size: 20px;
    -fx-background-color: #688e9c;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-background-color: linear-gradient(#6888a7, #2A5058);
}

.exit_button{
    -fx-background-color: #940b0b;
    -fx-text-fill: #ffffff;
}

.exit_button:hover{
    -fx-background-color: linear-gradient(#c95050, #940b0b);
}