.root {
    -fx-background-image: url("backgroundImage.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.label {
    -fx-font: 60 arial;
    -fx-text-fill: #c2b439;
}

.button {
    -fx-font-size: 20px;
    -fx-background-color: #688e9c;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-background-color: linear-gradient(#6888a7, #2A5058);
}
